language: php
php:
  - 7.3
  - 7.4
  - 8.0

before_install:
  - echo "extension=redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
before_script:
  - composer install

script:
  - vendor/bin/phpunit
